extends layout

block content
	.jumbotron
		h1 Welcome to our Candy Store
		h2 The finest candy in <del>Boulder</del> the Universe.

	.row
		.col-sm-10
			for item in inventoryItems
				.col-sm-5.col-sm-offset-1
					.item(data-id=item._id.toString())
						h2.item-name= item.product.name
						.item-price= item.product.price
						p.item-description= item.product.description
						p.text-muted
								span.item-quantity= item.quantity
								span.item-quantity-label  remaining
						button.item-add.btn.btn-primary Add to Cart

	script.
		var order = !{JSON.stringify(order)};

	//- .col-sm-2
		.order
			h2 Order
			ul
				for item in order
					li #{item.product.name} (#{item.quantity})
				else
					li Your cart is empty.